{% extends 'employees/base.html' %}


{% block sidebar %}
<div id="admin-menu">
    <li><a href="/employees/list" class="icon icon-group">Home</a></li>
    <li><a href="{% url 'employee-leaves' employee.pk %}">Leaves</a></li>
    <li><a href="{% url 'employee-promotions' employee.pk %}">Promotions</a></li>
    <li><a href="{% url 'employee-documents' employee.pk %}">Documents</a></li>
    <li><a href="{% url 'employee-transfers' employee.pk %}">Transfers</a></li>
</div>
    {% endblock sidebar%}

    {% block content %}

<div class="content">
<fieldset><legend>Actions</legend>
<a href="{% url 'employee-update' employee.pk %}"> Edit {{employee.full_name}}</a>
 </fieldset>

    <div class="splitcontentleft">
        <div class="box">
            <fieldset>
                <legend> {{employee.full_name}} Details</legend>

                <table border=1 id="list" class="list issues odd-even sort-by-id sort-desc">
                    <tr>
                        <th>First Name</th>
                        <th>{{employee.first_name}}</th>
                    </tr>
                    <th>Surname Name</th>
                    <th>{{employee.middle_name}}</th>
                    </tr>
                    <th>Last Name</th>
                    <th>{{employee.last_name}}</th>
                    </tr>
                    </tr>
                    <th>Gender</th>
                    <th>{{employee.get_gender_display}}</th>
                    </tr>
                    <tr>
                        <th>Date of Birth</th>
                        <th>{{employee.date_of_birth}}({{employee.age}} Years old)</th>
                    </tr>
                    <tr>
                        <th>National ID Number</th>
                        <th>{{employee.id_number}}</th>
                    </tr>
                    <tr>
                        <th>PJ Number</th>
                        <th>{{employee.pj_number}}</th>
                    </tr>
                    <tr>
                        <th>NHIF Number</th>
                        <th>{{employee.nhif_number}}</th>
                    </tr>
                    <tr>
                        <th>NSSF Number</th>
                        <th>{{employee.nssf_number}}</th>
                    </tr>
                    <tr>
                        <th>Remarks</th>
                        <th>{{employee.remarks}}</th>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
    <div class="splitcontentright">
        <div class="box">
            <fieldset>
                <legend> Profile Picture</legend>


            </fieldset>
        </div>
    </div>
    {% endblock content%}
</div>